html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
ul{
  padding: 0px;
}
ul > li{
  list-style-type: none;
}
.horizontal{
  width: 1px;
  height: 100%;
  background: white;
}
.vertical{
  width: 100%;
  height: 1px;
  background: white;
}


/* || Notes Styles */
.wrapper{
  display: flex;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar{
  width: 300px;
  max-width: 25%;
  background: #f0f0f0;
  color: black;
  height: 100%;
  font-size: 1.5rem;
  border-right: 5px solid #000000;
}
.sidebar > h2{
  text-align: center;
}
.folders-container{
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}
.file-container{
  width: 100%;
  font-size: 1rem;
  align-items: center;
  border: none;
}
.label-container{
  pointer-events: none;
  display: flex;
  z-index: 21;
}
.obj-selected > label{
  background: rgba(79, 79, 79, 0.15);
}
div.obj-selected > div > button{
  background: rgba(79, 79, 79, 0.15);
}

.file-icon:after{
  margin-right: 0.5rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:  "\f15b";
  font-size: 1rem;
  display: block;
}
.folders-container:focus-within{
}

.folder-checkbox{
  appearance: none;
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 0.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-checkbox:after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:  "\f0de";
  font-size: 1.2rem;
  color: black;
  display: block;
  transform: rotate(90deg);
}

.folder-checkbox:checked:after{
  transform: rotate(180deg) translate(-20%, 20%);
}

.child-container{
  margin-left: 1rem;
  display: none;
}
#modal-container{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 21;
  display: none;
}
#modal{
  max-width: 60%;
  background: white;
  padding: 1rem 1.5rem 1rem;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}
#modal-text{
  font-size: 1.5rem;
}
input.modal-input{
  width: 25rem;
  height: 1.5rem;
}
button[name="close-btn"]::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content:  "\f00d";
  font-size: 1rem;
  color: black;
}
button[name="close-btn"]{
  border: none;
  background: white;
  right: 1rem;
  position: inherit;
}
button[name="close-btn"]:hover{
  cursor: pointer;
  background: rgb(194, 194, 194);
}
.overlay{
  background: rgba(0, 0, 0, 0.54);
  height: 100%;
}
#folder-root{
  display: none;
}

/* main content Styles */
.changes-button{
  display: none;
}
.main-content{
  width: 100%;
  background: #f0f0f0;
  color: black;
  padding: 2rem;
  overflow-y: auto;
}
.divider{
  background: #323232;
}

/* || Notes Styles */
.highlight-class{
  background: rgb(249, 165, 66);
}
.info{
  background: white;
  padding-top: 5rem;
  position: relative;
}
.paper{
  min-height: 100vh;
  background: repeating-linear-gradient(white 0px, white 48px, #00b0d7 50px);
}
.left-ruler {
  margin-top: -5rem;
  position: absolute;
  left: 100px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.note-content{
  margin-left: 100px;
  padding-top: 61px;
}
.cell-row{
  flex: 1;
  display: flex;
}
.cell-column{
  flex: 1;
  margin-left: 10px;
  margin-right: 20px;
  min-height: 50px;
  font-size: 2.6rem;
  padding-top: 0px;
  line-height: 50px;
}
.cell-column:focus{
  background-color: rgba(200, 200, 200, 0.2);
}
