<div class="detail-container">
  <div class="task-container">
    <div class="detail-header">
      <h2>Tasks</h2>
      <button onclick="ajaxTask()" type="button" name="update">Update</button>
    </div>
    <hr>
    <div class="sub-detail-container">

      <ul>
        <li class="task-item-list">
          <input onclick="updateTaskList(event)" type="checkbox" class="check-task-list">
          <span class="text">Task 1</span>
          <input type="date" name="" value="">
        </li>
      </ul>

    </div>
  </div>
  <div class="schedule-container">
    <div class="detail-header">
      <h2>Schedules</h2>
      <button type="button" name="update">Update</button>
    </div>
    <hr>
    <div class="sub-detail-container">

    </div>
  </div>
</div>
