<div id="header-container">
  <h1>Tasks and Submissions</h1>
  <button class="add-btn" onclick="addTask()" type="button"></button>
  <button class="update-btn" onclick="updateTasks()" type="button">Update</button>
  <select onchange="view_mode_change()" class="task-viewer">
    <option value="0">All Submissions</option>
    <option value="1">This Date Only</option>
  </select>
</div>
<div class="detail-container">
  <div class="task-container">
    <div class="sub-task-container">
      <table class="task-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Deadline Date</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Task # 1</td>
            <td>Unfinished</td>
            <td>Oct 6, 2020</td>
            <td></td>
          </tr>
          <tr>
            <td>Task # 2</td>
            <td>Finished</td>
            <td>Oct 24, 2020</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
