<div class="detail-container">
  <div id="header-container">
    <h1></h1>
  </div>
  <div class="task-container">
    <div class="detail-header">
      <h2>Submissions</h2>
      <button onclick="add_task_modal()" type="button" class="add-task">+</button>
      <select class="" onchange="sub_view_change()" name="display-sub">
        <option value="0">This date only</option>
        <option value="1">All Submissions</option>
      </select>
      <button id="task-update" onclick="updateServerTask()" type="button" name="update">Update</button>
    </div>
    <hr>
    <div class="sub-detail-container">
      <ul>
      </ul>
    </div>
  </div>
  <div class="schedule-container">
    <div class="detail-header">
      <h2>Schedules</h2>
      <button type="button" name="update">Update</button>
    </div>
    <hr>
    <div class="sub-detail-container">
      <table class="sched-table">
        <thead>
          <tr>
            <th>Time:</th>
            <th>Subjects</th>
          </tr>
        </thead>
        <tbody class="body-sched">

        </tbody>
      </table>
    </div>
  </div>
</div>
