{% extends 'Notes/base.html' %}

{% block navbar_html %}
<nav id="upper-navbar">
  <div id="navbar-item">
    <h1>Calendar</h1>
    <div class="navbar-btns">
      <a class="link-list" id="dash" href="{% url 'dashboard' %}">Dashboard</a>
      <a class="link-list" id="noting" href="{% url 'notes' %}">Notes</a>
      <a class="link-list" id="dates" class="active" href="{% url 'schedule' %}">Schedules</a>
    </div>
  </div>
</nav>
{% endblock navbar_html %}

{% block content %}
<div class="content">
  <div id="modal-container">
    <div class="overlay"></div>
    <div class="modal-task-container">
      <form id="task-form">{% csrf_token %}
        <button onclick="close_modal()" type="button" name="close-btn"></button>
        <fieldset>
          <label for="">Task Name</label>
          <input id="task-name" type="text" required placeholder="Put task name here">

          <label>Task Details</label>
          <textarea id="task-details" rows="8" cols="80"></textarea>

          <input id="task-date" type="hidden" required value="">
        </fieldset>
        <button type="submit" name="button">Create</button>
      </form>
    </div>
  </div>

  <div id="sched-ctrls">
    <button type="button" name="button">test</button>
    <button type="button" name="button">test</button>
    <button type="button" name="button">test</button>
    <button type="button" name="button">test</button>
  </div>
  <div id="sched-content" class="flex">
    <div id="calendar">
      <div class="calendar-content">
        <div class="calendar-header">
          <h1 id="month-header">September</h1>
          <h4 id="year-header">2020</h4>
          <div class="calendar-btns">
            <a onclick="prevCalendar()" class="prev-btn"></a>
            <a onclick="nextCalendar()" class="next-btn"></a>
          </div>
        </div>
        <div class="calendar-view">
          <div class="date-row">
            <div>SUN</div>
            <div>MON</div>
            <div>TUES</div>
            <div>WED</div>
            <div>THURS</div>
            <div>FRI</div>
            <div>SAT</div>
          </div>
          <div class="calendar-body">

          </div>
        </div>
      </div>
    </div>
    <div id="details">
      {% include 'scheduler/date_detail_template.html' with test="folder" %}
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_script %}
<script>
  var months = ["January", "Febuary", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"]

  function nextCalendar() {
    let curr_month = document.getElementById("month-header")
    let curr_year = document.getElementById("year-header")

    if (curr_month.innerText == "December") {
      curr_year.innerText = parseInt(curr_year.innerText)+1
      curr_month.innerText = months[0]
      updateCalendar(0, parseInt(curr_year.innerText))
    }else {
      curr_month.innerText = months[months.indexOf(curr_month.innerText)+1]
      updateCalendar(months.indexOf(curr_month.innerText), parseInt(curr_year.innerText))
    }
  }

  function prevCalendar() {
    let curr_month = document.getElementById("month-header")
    let curr_year = document.getElementById("year-header")

    if (curr_month.innerText == "January") {
      curr_year.innerText = parseInt(curr_year.innerText)-1
      curr_month.innerText = months[11]
      updateCalendar(11, parseInt(curr_year.innerText))
    }else {
      curr_month.innerText = months[months.indexOf(curr_month.innerText)-1]
      updateCalendar(months.indexOf(curr_month.innerText), parseInt(curr_year.innerText))
    }
  }

  function updateCalendar(month, year){
    let daysofMonth = new Date(year, month, 0).getDate();
    let date = new Date(year, month, 1);
    let calendar_body = document.querySelector(".calendar-body")
    calendar_body.innerHTML = ""

    while(month == date.getMonth()){
      var row = document.createElement("DIV")
      row.setAttribute("class", "date-row")
      for(let j = 0; j < 7; j++){
        if(j == date.getDay() && month == date.getMonth()){
          let curr_date = new Date()
          let cell = document.createElement("DIV")
          let cell_container = document.createElement("DIV")
          cell.setAttribute("class", "cell-date")
          if (date.getDate() == curr_date.getDate() && date.getMonth() == curr_date.getMonth() && date.getYear() == curr_date.getYear()) {
            cell.classList.add("curr-date");
          }
          cell_container.setAttribute("class", "my-dates")
          cell_container.innerText = date.getDate()
          cell.addEventListener("dblclick", function(){
            document.querySelector("select[name='display-sub']").value = "0"
            getTask(new Date(year, month, cell_container.innerText))
            getDaySchedule(new Date(year, month, cell_container.innerText).getDay())
          })
          //cell.setAttribute("ondbclick", `getTask(new Date(${year},${month},${cell_container.innerText}))`)
          cell.appendChild(cell_container)

          date.setDate(date.getDate() + 1);
          row.appendChild(cell)
        }else{
          let cell = document.createElement("DIV")
          row.appendChild(cell)
        }
      }
      calendar_body.appendChild(row)
    }
  }

  var curr_date = new Date()
  document.getElementById("month-header").innerText = months[curr_date.getMonth()]
  updateCalendar(curr_date.getMonth(), curr_date.getFullYear())
</script>
<script>
  $(document).on('submit', '#task-form', function(e){
    e.preventDefault();

    $.ajax({
      type: 'POST',
      url: '{% url "create-task" %}',
      data:{
        csrfmiddlewaretoken: '{{ csrf_token }}',
        taskName: $('#task-name').val(),
        taskDetail: $('#task-details').val(),
        taskDate: $('#task-date').val()
      },
      success: function(data){
        if (data.msg == "success") {
          document.getElementById("modal-container").style.display = "none";
          let re_year, re_month, re_day
          [re_year, re_month, re_day] = document.querySelector(".sub-detail-container").getAttribute("date").split('-')
          var refresh_date = new Date(parseInt(re_year), parseInt(re_month-1), parseInt(re_day))
          getTask(refresh_date)
        }
      }
    })
  })

  function createTaskDict(must_list=false){
    let document_tasks = document.querySelectorAll(".task-item-list")
    let temp_dict = {}
    let temp_list = []
    for (var i = 0; i < document_tasks.length; i++) {
      let task_name = document_tasks[i].querySelector(".text").innerText
      let task_checked = document_tasks[i].querySelector("input").checked
      let task_date
      if (document.querySelector("select[name='display-sub']").value == "1") {
        let [temp_month, temp_day, temp_year] = document_tasks[i].querySelector(".date-span").getAttribute("date").split("/")
        task_date = `${temp_year}-${temp_month}-${temp_day}`
        console.log(task_date);
      }else {
        task_date = document.querySelector("#header-container").innerText
      }
      temp_dict[task_name] = [task_checked, task_date]
      temp_list.push([task_name, task_checked])
    }
    if (must_list) {
      return temp_list;
    }else {
      return temp_dict
    }
  }

  function evalTasks(){
    let curr_tasks = createTaskDict()

    document.getElementById("task-update").style.display = "none";
    for (var key in curr_tasks) {
      if (window.myTasks.hasOwnProperty(key)) {
        if (curr_tasks[key] != window.myTasks[key]) {
          document.getElementById("task-update").style.display = "block";
        }
      }else {
        document.getElementById("task-update").style.display = "block";
      }
    }
  }

  function updateServerTask(){
    $.ajax({
      type: "POST",
      url: '{% url "update-task" %}',
      data: {
        csrfmiddlewaretoken: '{{csrf_token}}',
        newtaskList: JSON.stringify(createTaskDict())
      },
      dataType: 'json',
      success: function (data){
        if (data.msg == 'success') {
          document.getElementById("task-update").style.display = "none";
        }
      }
    })
  }

  function updateTaskList(e){
    let checkbox = e.target
    let text_span = checkbox.parentNode.querySelector(".text")
    if (checkbox.checked) {
      text_span.classList.add("item-complete")
    } else if (text_span.classList.contains("item-complete")) {
      text_span.classList.remove("item-complete")
    }
    evalTasks()
  }

  function showTaskList(task_dict){
    let task_container = document.querySelector(".sub-detail-container > ul")
    task_container.innerHTML = ""
    for (var task_name in task_dict) {
      if (task_dict.hasOwnProperty(task_name)) {
        let li = document.createElement("LI")
        li.setAttribute("class", "task-item-list")

        let task_input = document.createElement("INPUT")
        task_input.setAttribute("class", "check-task-list")
        task_input.setAttribute("onclick", "updateTaskList(event)")
        task_input.setAttribute("type", "checkbox")

        let task_span = document.createElement("SPAN")
        task_span.setAttribute("class", "text")
        task_span.innerText = task_name

        let list_remove_btn = document.createElement("BUTTON")
        list_remove_btn.setAttribute("class", "remove-task-btn")
        list_remove_btn.setAttribute("onclick", "moreList(event)")
        list_remove_btn.innerText = "-"

        if (task_dict[task_name] == true){
          task_input.checked = task_dict[task_name]
          task_span.classList.add("item-complete")
        }

        li.appendChild(task_input)
        li.appendChild(task_span)
        if (document.querySelector("select[name='display-sub']").value == "1") {
          let date_span = document.createElement("SPAN")
          date_span.setAttribute("class", "date-span")
          date_span.setAttribute("date", task_dict[task_name])
          let [month, day, year] = task_dict[task_name].split("/")
          let date_instance = new Date(year, month-1, day)
          date_span.innerText = `(${Math.round((date_instance-curr_date)/(1000*60*60*24))} days left)`
          li.appendChild(date_span)
        }
        li.appendChild(list_remove_btn)

        task_container.appendChild(li)
      }
    }
  }

  function removeList(e){
    if (confirm("Are you sure you want to delete the task?")) {
      let task_name = e.target.parentNode.querySelector(".text").innerText
      let task_date
      if (document.querySelector("select[name='display-sub']").value == "1") {
        let [temp_day, temp_month, temp_year] = e.target.parentNode.querySelector("span.date-span").getAttribute('date').split("/")
        task_date = `${temp_year}-${pad(temp_day, 2)}-${pad(temp_month, 2)}`
      }else {
        task_date = e.target.parentNode.parentNode.parentNode.getAttribute("date")
      }
      $.ajax({
        type: "post",
        url: "{% url 'remove-task' %}",
        data:{
          csrfmiddlewaretoken: '{{ csrf_token }}',
          taskName: task_name,
          taskDate: task_date
        },
        dataType: 'json',
        success: function(data) {
          if (data.msg == 'success') {
            let re_year, re_month, re_day
            [re_year, re_month, re_day] = document.querySelector(".sub-detail-container").getAttribute("date").split('-')
            var refresh_date = new Date(parseInt(re_year), parseInt(re_month-1), parseInt(re_day))
            getTask(refresh_date)
          }
        }
      })
    }
  }

  function moreList(e){
    let task_name = e.target.parentNode.querySelector(".text").innerText
    let temp_day, temp_month, temp_year
    if (document.querySelector("select[name='display-sub']").value == "1") {
      [temp_month, temp_day, temp_year] = e.target.parentNode.querySelector("span.date-span").getAttribute('date').split("/")
    }else {
      [temp_year, temp_month, temp_day] = e.target.parentNode.parentNode.parentNode.getAttribute("date").split("-")
    }
    $.ajax({
      type: "post",
      url: "{% url 'get-task' %}",
      data:{
        csrfmiddlewaretoken: '{{ csrf_token }}',
        tasks_name: e.target.parentNode.querySelector("span.text").innerText,
        tasks_day: temp_day,
        tasks_month: temp_month,
        tasks_year: temp_year,
        task_view: 3000
      },
      dataType: 'json',
      success: function(data){
        if (data.msg == "success"){
          let modal_cont = document.querySelector("#modal-container")

          console.log(data.DataName);
          console.log(data.DataDetails);
          console.log(data.DataDate);
          console.log(data.DataCompleted);

          modal_cont.style.display = "block";
          modal_cont.querySelector("input#task-name").value = data.DataName
        }
      }
    })
  }

  function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
  }

  function close_modal(){
    document.querySelector("#modal-container").style.display = "none";
  }

  function getTask(tasks_date){
    let sub_view = document.querySelector('select[name="display-sub"]').value
    $.ajax({
      type: "POST",
      url: '{% url "get-task" %}',
      data:{
        csrfmiddlewaretoken: '{{csrf_token}}',
        tasks_day: tasks_date.getDate(),
        tasks_month: tasks_date.getMonth() + 1,
        tasks_year: tasks_date.getFullYear(),
        task_view: sub_view
      },
      dataType: 'json',
      success: function (data){
        if (data.msg == 'success') {
          window.myTasks = data.tasks
          showTaskList(data.tasks)
          let month = pad(tasks_date.getMonth() + 1, 2)
          let day = pad(tasks_date.getDate(), 2)

          document.querySelector(".sub-detail-container").setAttribute("date", `${tasks_date.getFullYear()}-${month}-${day}`)
          document.querySelector("#header-container > h1").innerText = `${tasks_date.getFullYear()}-${month}-${day}`
        }
      }
    })
  }
  getTask(curr_date)


  function add_task_modal(){
    document.getElementById("modal-container").style.display = "block";
    document.getElementById("task-date").value = document.querySelector(".sub-detail-container").getAttribute("date")
  }

  function sub_view_change(){
    let [year, month, day] = document.getElementById("header-container").innerText.split("-")
    getTask(new Date(year, month-1, day))
  }
</script>

<!-- Schedule logic -->
<script>
  function getDaySchedule(weekday){
    let weekday_list = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
                        'Friday', 'Saturday']
    $.ajax({
      type: "post",
      url: "{% url 'get-sched' %}",
      data:{
        csrfmiddlewaretoken: "{{ csrf_token }}",
        'weekday': weekday_list[weekday]
      },
      dataType: "json",
      success: function(data){
        if (data.msg == 'success') {
          let day_subjects = data.subjects
          document.querySelector(".body-sched").innerHTML = ""

          for (let subj in day_subjects) {
            let row = document.createElement("TR")
            let time_d = document.createElement("TD")
            let subj_d = document.createElement("TD")

            time_d.setAttribute("class", "time-col")
            time_d.innerText = day_subjects[subj][0]+':'+day_subjects[subj][1]+' '+day_subjects[subj][2]
            row.appendChild(time_d)

            subj_d.setAttribute("class", "subj-col")
            subj_d.innerText = subj

            row.setAttribute("class", "sched-row")
            row.appendChild(subj_d)

            document.querySelector(".body-sched").appendChild(row)
          }
        }
      }
    });
  }

  getDaySchedule(curr_date.getDay())
</script>
{% endblock extra_script %}
