{% load static %}
{% load note_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'fa-style/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block add_style %}
    {% endblock add_style %}

    {% if title %}
      <title>{{ title }}</title>
    {% endif %}
  </head>
  <body>
    {% block navbar_html %}
    {% endblock navbar_html %}

    {% block content %}
    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_script %}
    {% endblock extra_script %}
  </body>
</html>
