{% extends 'Notes\base.html' %}
{% load note_tags %}
{% block content %}

<div class="wrapper">
  <div class="sidebar">
    <h2>My Notes</h2>
    <ul>
      <li><a href="">Math</a></li>
      <li><a href="">English</a></li>
      <li><a href="">Science</a></li>
      <li><a href="">Physics</a></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="changes-button">
      <button onclick="save_changes()" type="button" name="save-changes">Save</button>
      <button onclick="cancel_changes()" type="button" name="cancel-changes">Cancel</button>
    </div>
    <div class="header editable">
      <h2 contenteditable="true">Welcome to My Notes</h2>
    </div>
    <hr class="divider">
    <div class="info">
      {% for note in Notes %}
        {{ note.content|safe }}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}

<script type="text/javascript">
  $('.info').bind('DOMSubtreeModified', function(){
    console.log('changed');
    document.querySelector('.changes-button').style.display = "block";
  });

  function add_cell(e){
    var parent_cell = e.target.parentNode.parentNode.parentNode.parentNode;
    $(`
      <div class="cell-row">
        <div class="note-cell cell-column">
          <div class="note-toolbar">
            <button onclick="bold_text()" type="button">Bold</button>
            <button onclick="italic_text()" type="button">Italic</button>
            <button onclick="add_column(event)" type="button">Add</button>
            <button onclick="delete_row(event)" type="button">Delete</button>
           </div>
          <div class="editable" contenteditable="">
            <div>

            </div>
           </div>
         </div>
        <div class="add-cell">
          <div>
            <div class="add-buttons">
              <button type="button" onclick="add_cell(event)">Add</button>
              <button type="button">Remove</button>
             </div>
            <hr class="h-guide">
           </div>
         </div>
       </div>
      `).insertAfter(parent_cell);
    console.log(parent_cell)
  }

  function save_changes(){
    var content = document.querySelector('.info').innerHTML
    $.ajax({
      type: "GET",
      url: '{% url "update-notes" %}',
      data:{
        my_data:content,
      },
      dataType: 'json',
      success: function (data){
        if (data.msg == 'success'){
          console.log("success");
          location.reload();
        }
      }
    });
  }
  function cancel_changes(){
    location.reload();
  }

  function delete_row(e){
    var parent_cell = e.target.parentNode.parentNode.parentNode
    parent_cell.remove();
  }

  function bold_text(){
    document.execCommand('bold',false,1);
  }
  function italic_text(){
    document.execCommand('italic',false,1);
  }
  function add_column(e){
    var parent_cellRow = e.target.parentNode.parentNode.parentNode
    var cell_column = e.target.parentNode.parentNode
    var new_column_cell = `
    <div class="note-cell cell-column">
      <div class="note-toolbar">
        <button onclick="bold_text()" type="button">Bold</button>
        <button onclick="italic_text()" type="button">Italic</button>
        <button onclick="add_column(event)" type="button">Add</button>
        <button onclick="delete_row(event)" type="button">Delete</button>
       </div>
      <div class="editable" contenteditable="">
        <div>

        </div>
       </div>
     </div>
    `
    $(new_column_cell).insertAfter(cell_column);
  }
</script>

{% endblock extra_script %}
