{% extends 'Notes\base.html' %}
{% load static %}
{% load note_tags %}

{% block navbar_html %}
<div id="my-navbar" class="left-navbar">
  <div class="navbar-content">
    <div class="nav-head">
      <h1>Navigation</h1>
      <button class="toggle-nav" type="button" onclick="close_nav()" name="close-nav"></button>
    </div>
    <ul class="nav-links">
      <li id="dash"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li id="noting"><a href="#">Notes</a></li>
      <li id="dates"><a href="{% url 'schedule' %}">Scheduler</a></li>
    </ul>
  </div>
</div>
{% endblock navbar_html %}

{% block content %}
  <div id="modal-container">
    <div class="overlay"></div>
    <div id="modal">
      <button type="button" name="close-btn" onclick="close_modal()"></button>
      <div id="modal-text">content</div>
      <form id="modal-form" action="{% url 'update-folders' %}" method="post">
        {{ FolderForm.name }}
        {{ NoteForm.name }}
        <button id="modal-form-btn" rootFolder="" type="submit">OK</button>
      </form>
    </div>
  </div>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-head">
        <button class="toggle-nav" onclick="open_nav()" type="button" name="open-nav"></button>
        <h2>Notes</h2>
      </div>
      <div id="rootF">
        {% for folder in Folders|get_root_folders %}
          {% include 'Notes/folder_template.html' with Folder=folder %}
        {% endfor %}
      </div>
      <button id="add-root" onclick="add_root_folder()" class="full-width-btn" type="button">Add Root Folder</button>
    </div>

    <div class="main-content">
      <div class="text-format-btns">
        <div id="format-btns">
          <button class="formatin btn-pointer" onclick="bold_text()">B</button>
          <button class="formatin btn-pointer" onclick="italic_text()">I</button>
          <button class="formatin btn-pointer" onclick="underline_text()">U</button>
          <button class="formatin btn-pointer" onclick="super_sub()">Sub</button>
          <button class="formatin btn-pointer" onclick="super_sub('super')">Super</button>
          <button class="formatin btn-pointer" onclick="highlight_text()">H</button>
          <input id="highlighter" type="color" name="" value="#ecf041">
          <button class="formatin btn-pointer" onclick="toggle_spellcheck()">spellcheck</button>
        </div>
        <div id="chevron-btn">
          <button class="btn-pointer" onclick="toggle_fomat()" name="display-btns"></button>
        </div>
      </div>
      <div class="changes-button">
        <button onclick="save_changes()" type="button" name="save-changes">Save</button>
        <button onclick="cancel_changes()" type="button" name="cancel-changes">Cancel</button>
      </div>
      <div id="header">
        <h2>Welcome to My Notes</h2>
      </div>
      <hr class="divider">
      <div class="info">
        <div class="paper">
          <div class="left-ruler"></div>
          <div class="note-content" spellcheck="false" filename="">
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_script %}
<!-- Logic Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'js/shortcuts.js' %}"></script>
<script src="{% static 'js/detection.js' %}"></script>
<script>
  window.note_added = true;
   var note_content = '';

  $('.note-content').bind('DOMSubtreeModified', function(){
    if (window.check_content) {
      if (note_content == document.querySelector('.note-content').innerHTML) {
        document.querySelector('.changes-button').style.display = "none";
      } else if (note_content  != document.querySelector('.note-content').innerHTML) {
        document.querySelector('.changes-button').style.display = "block";
      }
    }
  });
  function hexToRgb(hex) {
    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result ? {
      r: parseInt(result[1], 16),
      g: parseInt(result[2], 16),
      b: parseInt(result[3], 16)
    } : null;
  }

  function save_changes(){
    var content = document.querySelector('.note-content').innerHTML;
    var file_pk = document.querySelector('.note-content').getAttribute("filePK")
    $.ajax({
      type: "POST",
      url: '{% url "update-notes" %}',
      data:{
        csrfmiddlewaretoken: '{{csrf_token}}',
        my_data:content,
        data_pk:file_pk,
      },
      dataType: 'json',
      success: function (data){
        if (data.msg == 'success'){
          document.querySelector('.changes-button').style.display = "none";
          note_content = document.querySelector('.note-content').innerHTML
        }
      }
    });
  }
  function cancel_changes(){
    if (confirm('Are you sure you want to cancel all changes?')) {
      document.querySelector('.note-content').innerHTML = note_content
    }
  }

  //Text Manipulation
  function bold_text(){
    document.execCommand('bold',false,1);
  }
  function italic_text(){
    document.execCommand('italic',false,1);
  }
  function underline_text(){
    document.execCommand('underline',false,1);
  }
  function highlight_text(){
    var text = document.getSelection().toString()
    var h_color = document.getElementById('highlighter').value
    var rgb = hexToRgb(h_color)

    var span = document.createElement('SPAN');
    span.style.background = `rgba(${rgb.r}, ${rgb.g}, ${rgb.b}, 0.50)`;
    span.setAttribute("class", "highlight-span")
    span.textContent = text;

    var range = document.getSelection().getRangeAt(0);
    range.deleteContents();
    range.insertNode(span);
  }
  function super_sub(format){
    var text = document.getSelection().toString()
    var h_color = document.getElementById('highlighter').value
    var rgb = hexToRgb(h_color)

    if (format == "super") {
      var tag = document.createElement('SUP');
    }else {
      var tag = document.createElement('SUB');
    }


    tag.textContent = text;

    var range = document.getSelection().getRangeAt(0);
    range.deleteContents();
    range.insertNode(tag);
  }

  //Cell Manipulation
  function add_row(){
    var active_elem = document.activeElement
    if (active_elem.classList.toString() == "cell-column"){
      var new_row = `<div class="cell-row"><div class="cell-column" contenteditable></div></div>`
      $(new_row).insertAfter(active_elem.parentNode);
      active_elem.parentNode.nextSibling.childNodes[0].focus();
    }
  }
  function add_column(){
    var active_elem = document.activeElement
    if (active_elem.classList.toString() == "cell-column"){
      var new_column = `<div class="cell-column" contenteditable spellcheck="false"></div>`
      $(new_column).insertAfter(active_elem);
      active_elem.nextSibling.focus();
    }
  }
  function delete_cell(){
    var active_elem = document.activeElement
    if (active_elem.classList.toString() == "cell-column"){
      if (active_elem.parentNode.childElementCount < 2) {
        active_elem.parentNode.remove();
      } else {
        active_elem.remove();
      }
    }
  }

  //File and Folder Manipulation
  function add_file(folder){
    $.ajax({
        url: "{% url 'update-folders' %}",
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{csrf_token}}',
          Foldername: folder.getAttribute("foldername")
        },
        dataType: 'json',
        success: function(response) {
        }
    });
  }
  function add_folder(){
    let selected_objs = document.querySelectorAll('.obj-selected')
    let active_forms = document.querySelectorAll('.active-form')
    for (var i = 0; i < active_forms.length; i++) {
      active_forms[i].classList.remove("active-form")
      active_forms[i].style.display = 'none';
    }
    for (var i = 0; i < selected_objs.length; i++) {
      if (selected_objs[i].getAttribute("type") == "Folder"){
        document.querySelector("#modal-container").style.display = "block"
        document.querySelector("#modal-text").innerText = "new Folder"
        document.getElementById("Folder_name").classList.add("active-form")
        document.getElementById("Folder_name").style.display = "block";
        document.querySelector("#modal-form-btn").setAttribute("rootFolder", selected_objs[i].getAttribute("id"))
        document.querySelector("#modal-form-btn").setAttribute("obj-type", 'Folder')
      }
    }
  }
  function add_root_folder(){
    document.querySelector("#modal-container").style.display = "block"
    document.querySelector("#modal-text").innerText = "new Folder"
    document.getElementById("Folder_name").classList.add("active-form")
    document.getElementById("Folder_name").style.display = "block";
    document.querySelector("#modal-form-btn").setAttribute("rootFolder", "root")
    document.querySelector("#modal-form-btn").setAttribute("obj-type", 'Folder')
  }
  function get_root_folder(folder){
    var parent = folder.parentNode.parentNode;
    if (parent.getAttribute('foldername')) {
      return parent.getAttribute('foldername');
    } else {
      return null;
    }
  }

  function add_obj(e){
    update_tree_request("{% url 'update-folders' %}",
                        'Add', e.target.getAttribute('create'),
                        e.target.getAttribute('rootFolder'),
                        $('#folder-root').val(),
                        $('.modal-input').val());
  }
  function delete_obj(objType, RootFolder, objName) {
    update_tree_request("{% url 'update-folders' %}",
                        'Delete', objType,
                        RootFolder,
                        objName);
  }
  function update_tree_request(url_req, act, create_obj, root, objName){
    $.ajax({
      url: url_req,
      type: 'POST',
      data:{
        csrfmiddlewaretoken: '{{ csrf_token }}',
        root_folder: root,
        obj_type: create_obj,
        name: objName,
        action: act
      },
      success: function(response) {
        document.querySelector('#modal-container').style.display = "none";
        $.get('/notes/', function(data) {
          var my_element = response.folder_id
          $("#rootF").replaceWith($("#rootF", data));
          load_openned_folders()
        });
        if (document.getElementById('header').innerText == objName) {
          window.check_content = false
          document.querySelector('.note-content').innerHTML = ''
          document.querySelector('#header h2').innerHTML = ''
        }
      }
    });

  }

  $(document).on('submit', '#modal-form', function(e){
    e.preventDefault();
    console.log('submitting...');
    update_tree_request("{% url 'update-folders' %}",
                        'create', document.getElementById("modal-form-btn").getAttribute('obj-type'),
                        document.getElementById("modal-form-btn").getAttribute('rootFolder'),
                        $(".active-form").val());
  })

  function close_modal(){
    document.querySelector('#modal-container').style.display = "none";
  }

  function get_file(filename, file_pk){
    window.check_content = false
    $.ajax({
      type: "GET",
      url: '{% url "get-notes" %}',
      data:{
        note_pk:file_pk.toString()
      },
      dataType: 'json',
      success: function (data){
        if (data.msg == 'success'){
          document.querySelector("#header h2").innerText = filename
          var content_area = document.querySelector('.note-content');
          content_area.setAttribute("filePK", file_pk)
          content_area.innerHTML = data.note_content;
          note_content = content_area.innerHTML
          window.check_content = true;
          sessionStorage.setItem("Openned File pk", [filename, file_pk])
        }
      }
    });
  }

  function toggle_spellcheck(){
    let note_area = document.querySelector(".note-content").getAttribute("spellcheck")
    if (note_area == "true"){
      document.querySelector(".note-content").setAttribute("spellcheck", "false")
    }else {
      document.querySelector(".note-content").setAttribute("spellcheck", "true")
    }
  }
</script>

<!-- Style Script -->
<script>
  function close_nav(){
    document.getElementById("my-navbar").style.minWidth = 0;
    document.getElementById("my-navbar").style.width = 0;
  }
  function open_nav(){
    document.getElementById("my-navbar").style.minWidth = "300px";
    document.getElementById("my-navbar").style.width = "15vw";
  }


  function resize_img(){
    var size = 25
    var heights = document.querySelectorAll('.cell-column')
    for (var i = 0; i < heights.length; i++) {
      var height = heights[i].offsetHeight
      if ((height%size) != 0 && heights[i].querySelector('img')) {
        var new_h = (height + (size - (height%size)))
        heights[i].style.height = new_h+"px"
      }
    }
  }
  function load_openned_folders(){
    if (sessionStorage.getItem("Openned Folders")) {
      var openned_folders = sessionStorage.getItem("Openned Folders").split(",")
      for (var i = 0; i < openned_folders.length; i++) {
        var opennedFN = openned_folders[i]
        var folder = document.querySelector(`div[id="${opennedFN}"]`)
        var folder_child = folder.querySelector(".child-container")
        var folder_input = folder.querySelector("input")
        folder_child.style.display = "block";
        folder_child.classList.add("open")
        folder_input.checked = true
      }
    }
  }

  $(document).ready(function(){
    var chBoxes = document.querySelectorAll(".folder-checkbox");
    for (var i = 0; i < chBoxes.length; i++) {
      chBoxes[i].checked = false;
    }

    //Update Openned Folders
    load_openned_folders()

    //Update Note Content
    if (sessionStorage.getItem("Openned File pk")){
      var file_list = sessionStorage.getItem("Openned File pk").split(",")
      get_file(file_list.slice(0, -1), file_list.slice(-1))
    }
  });
  function selectObject(object) {
    var obj_selected = document.querySelectorAll('.obj-selected')
    for (var i = 0; i < obj_selected.length; i++) {
      if (!window.ctrl_pressed) {
        obj_selected[i].classList.remove('obj-selected');
      }
    }
    if (object.classList.contains('obj-selected')) {
      object.classList.remove('obj-selected');
    }else {
      object.classList.add('obj-selected');
    }
  }
  function update_session_style(){
    var openned = document.querySelectorAll(".open")
    var obj_names = []
    for (var i = 0; i < openned.length; i++) {
      var openned_child = openned[i]
      var openned_foldername = openned_child.parentNode.getAttribute("id")
      obj_names.push(openned_foldername)
    }
    sessionStorage.setItem("Openned Folders", obj_names)
  }
  function open_child(e){
    if (e.target.tagName == 'INPUT' || e.ctrlKey) {
      if (e.target.tagName == 'INPUT') {
        var folder_node = e.target.parentNode.parentNode
      } else {
        var folder_node = e.target.parentNode
      }
      var child_nodes = folder_node.querySelector(".child-container")

      if (!window.ctrl_pressed) {
        // Show selected
        if (child_nodes.style.display == "block") {
          child_nodes.style.display = "none";
          child_nodes.classList.remove('open')
        } else {
          child_nodes.style.display = "block";
          child_nodes.classList.add('open')
        }
        update_session_style()
      }
      else {
        if (e.target.checked) {
          e.target.checked = false;
        }else {
          e.target.checked = true;
        }
      }
      selectObject(folder_node);
    }
  }

  function toggle_fomat(){
    var format_container = document.querySelector('#format-btns')
    if (format_container.offsetHeight == "0") {
      format_container.style.height = "2rem";
      format_container.style.padding = "1rem";
    } else {
      format_container.style.height = "0px";
      format_container.style.padding = "0px";
    }
  }
</script>
{% endblock extra_script %}
